<div class="container">
  <div class="user-search">
    <input type="text" [(ngModel)]="searchText" placeholder="Search by Email" />
  </div>
  <table class="user-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th class="th-action">
          Actions <span class="material-icons"> commit </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of filteredUsers">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td class="actions-cell">
          <span class="material-icons view-user icon-sm" (click)="onView(user)">
            visibility
          </span>
          <span class="material-icons edit-user icon-sm" (click)="onEdit(user)">
            edit_note
          </span>
          <span
            class="material-icons delete-user icon-sm"
            (click)="onDelete(user)"
          >
            delete
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
