<div class="container">
  <table class="user-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
        <!-- Changed to "Actions" -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td class="actions-cell">
          <span class="material-icons view-user icon-sm" (click)="onView(user)">
            visibility
          </span>
          <span class="material-icons edit-user icon-sm" (click)="onEdit(user)">
            edit
          </span>
          <span
            class="material-icons delete-user icon-sm"
            (click)="onDelete(user)"
          >
            delete_outline
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
