/* user-table.component.css */

.container {
    padding: 20px;
    margin: 20px;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
}

.user-table th{
    padding: 6px ;
    text-align: left;
}
.user-table td {
    border-bottom: 1px solid #ccc;
    padding: 8px;
    font-size: 0.9em;
   
}

.user-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #142a4a;
}

/* Add hover effect on table rows */
.user-table tbody tr:hover {
    background-color: rgba(255, 216, 137, 0.1);
}

/* Style the "Actions" column */
.actions-cell {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.th-action{
display: flex;
justify-content: center;
text-align: center;
}

.view-user{
    color: #06765e;
    cursor: pointer;
}

.edit-user {
    color: #1a6fef;
    cursor: pointer;
}

.delete-user {
    color: #c21717;
    cursor: pointer;
}


@media (max-width: 620px) {

    .user-table th,
    .user-table td {
        padding: 0 3px;
       
        font-size: 14px;
        
    }

    

    /* Hide less important columns on mobile screens */
    .user-table th:nth-child(1),
    .user-table th:nth-child(2),
    .user-table td:nth-child(1),
    .user-table th:nth-child(3),
    .user-table th:nth-child(4)
     {
        display: none;  
    }
            .icon-sm{
                font-size: 16px;
                padding: 0 16px;
            }
        .user-table td:nth-child(2){
            color: #142a4a;
            font-weight: 600;
            padding-bottom: 3px;
            border-bottom: none;
        }
                .user-table td:nth-child(3) {
                    color: #1b0653;
                    font-weight: 200;
                    font-size: 0.8em;
                    padding-bottom: 14px;
                    border-top: none;
                }

                .user-table td:nth-child(4){
                    justify-content: center;
                        align-items: center;
                        padding-bottom: 4px;
                    
                }


    /* Stack the table columns on mobile screens */
    .user-table tbody tr {
        display: block;
        margin-top: 26px;
        
        border-left: 8px dashed #FFBC38;
        border-radius: 6px;
        border-bottom: 2px solid #FFBC38;
        

        /* Add a border between rows */
    }

    .user-table td {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        
    }

    
}