/* user-table.component.css */

.container {
    padding: 20px;
    margin: 20px;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
}

.user-table th,
.user-table td {
    border: 1px solid #ccc;
    padding: 8px;
   
}

.user-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #142a4a;
}

/* Add hover effect on table rows */
.user-table tbody tr:hover {
    background-color: rgba(255, 216, 137, 0.1);
}

/* Style the "Actions" column */
.user-table .actions-cell {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.user-table .actions-cell button {
    cursor: pointer;
    padding: 6px 12px;
    /* Slightly reduced padding for buttons */
    font-size: 14px;
    /* Increased font size for buttons */
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.view-user{
    color: #895d06;
    cursor: pointer;
}

.edit-user {
    color: #1a6fef;
    cursor: pointer;
}

.delete-user {
    color: #c21717;
    cursor: pointer;
}

/* For mobile screens (max-width: 767px) */
@media (max-width: 679px) {

    .user-table th,
    .user-table td {
        padding: 6px;
       
        font-size: 12px;
        
    }

    /* Hide less important columns on mobile screens */
    .user-table th:nth-child(1),
    .user-table td:nth-child(1),
    .user-table th:nth-child(3),
    .user-table th:nth-child(4),
    .user-table td:nth-child(4) {
        display: none;
    }

    /* Stack the table columns on mobile screens */
    .user-table tbody tr {
        display: block;
        border-bottom: 3px solid #af3f3f;
        /* Add a border between rows */
    }

    .user-table td {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* Center align the content in the cells */
    .user-table th,
    .user-table td {
        text-align: center;
    }
}