<!-- app.component.html -->
<header>
  <div class="logo">
    <img routerLink="/" src="https://moolre.com/images/Mobile.svg" alt="Logo" />
    <h3 class="app-title">CRUD Task</h3>
  </div>
  <nav>
    <ul>
      <li>
        <a
          routerLink="/users"
          routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Users
        </a>
      </li>
      <li>
        <a routerLink="/users/add" routerLinkActive="router-link-active"
          >Add User</a
        >
      </li>
    </ul>
  </nav>
</header>
<main>
  <section>
    <router-outlet></router-outlet>
  </section>
</main>
<footer class="footer">
  <div class="footer-content">
    &copy; 2023
    <a href="https://www.linkedin.com/in/dennis-agbokpe-b1b4241aa/"
      ><b>Dennis K Agbokpe</b> </a
    >.
    <small>Made with 💛</small>
  </div>
</footer>
