
header {
    margin: 0;
    background-color: #FFBC38;
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo img {
    height: 32px;
    margin-right: 8px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav li a {
    text-decoration: none;
    color: #142a4a;
    font-weight: 500;
}

nav li a:hover {
    text-decoration: none;
    color: #fcfcfc;
    font-weight: 500;
}

nav li:last-child {
    margin-right: 0;
}

/* Adjust the font size for the header text */
.app-title {
    color: #142a4a;
    
}

.app-title:hover {
    color: #fcfcfc;
    transition: ease-in-out;
    transition-duration: 150;
}

/* Style for active link */
nav li a.router-link-active {
    color: #fcfcfc;
    border-bottom: 4px solid #fff;
    padding-bottom: 18px;
}

/* Footer styles */
.footer {
    color: #142a4a;
    padding: 16px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-content {
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: #142a4a;
}

.footer a:hover {
    text-decoration: none;
    color: #FFBC38;
}


/* Media Queries for Responsive Design */

/* Media Query for smaller screens (adjust font size) */
@media (max-width: 767px) {
    .logo img {
        height: 24px;
        /* Smaller logo size for mobile devices */
    }

    .app-title {
        font-size: 14px;
        /* Smaller font size for header text on mobile devices */
    }
}



/* Adjust header and footer padding on smaller screens */
@media (max-width: 767px) {
    header {
        padding: 0px 10px;
    }

    .footer {
        padding: 10px;
    }
        .footer-content {
            font-size: 14px;
        }
}

/* Center the navigation on smaller screens */
@media (max-width: 576px) {
    nav ul {
        justify-content: center;
    }

        .app-title {
            visibility: hidden;
            /* hidden on very small devices */
        }

     nav li a{
         
            font-weight: 500;
            font-size: 0.9em;
                
    }
}