/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0px;
    background-color: #fff;
    /* background-image: url("https://moolre.com/images/Index-%E2%80%93-1.svg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    
}
